body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
}
.icon{
  fill: hsl(233, 20%, 80%);
  transition: fill 0.2s ease;
}
.icon:hover{
  fill: white;
  cursor: pointer;
}
.select{
  z-index: 10000;
}